{{ form_start(linkForm) }}


<div class="row">{{ form_label(linkForm.URL) }}</div>
<div class="row">{{ form_widget(linkForm.URL) }}
    <button type="submit" class="btn btn-link link"><i  class="fas fa-arrow-right"></i></button>
</div>
<div style="margin-top: 10px"  class="row error_text">{{ form_errors(linkForm) }}</div>

{{ form_end(linkForm) }}