<div id="toolbar_container" class="float-right" style="position: absolute; right: 0;">
    {% if not app.user %}
    <span
            href="{{ path('app_security_login') }}"
            ajax-target="#home_container"
            class="toolbar_element link ajax-link"

    ><i style="margin-right: 5px" class="fas fa-sign-in-alt link"></i><span class="d-none d-sm-inline">Sign in</span></span>
    <span
            class="toolbar_element link ajax-link"
            href="{{ path('app_security_register') }}"
            ajax-target="#home_container"

    ><i style="margin-right: 5px" class="fas fa-user-plus link"></i><span class="d-none d-sm-inline">Sign up</span></span>
    {% else %}
    <span
            class="toolbar_element"

    ><i style="margin-right: 5px" class="fas fa-user"></i><span class="d-none d-sm-inline">{{ app.user.username }}</span></span>
    <a
            class="toolbar_element link"
            href="{{ path('app_security_logout') }}"

    ><i style="margin-right: 5px" class="fas fa-sign-out-alt"></i><span class="d-none d-sm-inline">Sign-out</span></a>
    <span
            class="toolbar_element link ajax-link"
            href="{{ path('app_link_manager') }}"
            func="handleLinkJson"

    ><i style="margin-right: 5px" class="fas fa-link link"></i><span class="d-none d-sm-inline">My links</span></span>
    {% endif %}
</div>