{% import 'macro/toolbar.html.twig' as toolbar %}

{% set i = 0 %}
{% for label, messages in app.flashes %}
    <span class="alert alert-warning alert-dismissible fade show flashbar" role="alert" style="top: {{ 10+60*i }}px;">
        {{ messages[0] }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
</span>
    {% set i = i+1 %}
{% endfor %}

<div id="toolbar_container" class="position-absolute" style="left: -30px">
    <div class="btn-group">
        <button class="btn btn-sm btn-transparent dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ app.request.getLocale()|upper }}
        </button>
        <div class="dropdown-menu dropdown-menu-transparent">
            {% for locale in locales|split('|') %}
                <a class="dropdown-item" href="{{ url('app_main_route_changelocale', {'_locale': locale}) }}">{{ locale|upper }}</a>
            {% endfor %}
        </div>
    </div>
</div>

<div id="toolbar_container" class="float-right">
    {% if not app.user %}

    {{ toolbar.toolbarElement(path('app_security_login'), "#home_container", null, "fas fa-sign-in-alt", "app.main.signin"|trans) }}
    {{ toolbar.toolbarElement(path('app_security_register'), "#home_container", null, "fas fa-user-plus", "app.main.signup"|trans) }}

    {% else %}
        <span
            class="toolbar_element"
        ><i style="margin-right: 5px" class="fas fa-user"></i><span class="">{{ app.user.username }}</span></span>

        <a
                class="toolbar_element link"
                href="{{ path('app_security_logout') }}"

        ><i style="margin-right: 5px" class="fas fa-sign-out-alt"></i><span class="d-none d-sm-inline">{{ "app.main.signout"|trans }}</span></a>

        {{ toolbar.toolbarElement(path('app_link_manager'), null, null, "fas fa-link link", 'app.main.linkmanager'|trans, "handleLinkJson") }}

    {% endif %}
</div>