<div style="margin-top: 50px;margin-bottom: 100px;">
    <h3>{{ 'app.main.cou'|trans }}</h3><br>
    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br />{{ 'app.cou.license'|trans }} <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
    <p>{{ 'app.cou.sourcegithub'|trans }} <a href="https://github.com/MaxandreOgeret/lessn">{{ 'app.cou.github'|trans }}</a>.</p>
    <p><b>{{ 'app.cou.law'|trans }}</b></p>

    <hr><br>

    <h3>{{ 'app.cou.cookietitle'|trans }}</h3><br>
    <p>{{ 'app.cou.cookie'|trans }}</p>
    <p>{{ 'app.cou.gdpr'|trans }}</p>
    <p>{{ 'app.cou.track'|trans }}.</p>

    <br><p>{{ version }}</p>

    <br><span id="reset-home" class="btn btn-link link"><i  class="fas fa-undo-alt"></i></span>
</div>
